.search-page button {
  margin-left: 5px;
}

.search-page .no-results {
  text-align: center;
}

.search-page ul {
  list-style-type: none;
  padding: 0;
}

.search-page ul.container{
  flex-flow: row wrap;
  align-items: stretch;
}
.search-page ul > li {
  flex-grow: 1;
  width: 12rem; 
  margin-right: 10px;
  margin-bottom: 10px;
}
/* large screens */
@media all and (min-width: 500px) {
  .search-page ul > li {
    max-width: 12rem;
  }
}
