header {
  margin-bottom: 20px;

  h1 {
    line-height: 40px;
  }

  h3 {
    margin: 0;
  }
  
  nav {
    padding: 0.5rem;
  }

  h3,
  .nav-link {
    margin-right: 0.5rem;
  }
  
  nav a,
  nav a:visited {
    text-decoration: none;
    color: var(--color-highlight);
  }
  
  nav a.active {
    color: var(--color-text-dark);
    cursor: default;
  }
  
}

