header h3 {
  margin: 0;
}
header .container {
  flex-direction: column;
}

header .nav-link, 
header h3 {
  padding: .5rem 1rem;
}

/* Small screens */
@media all and (max-width: 500px) {
  header .container {
    flex-direction: row;
    align-content: space-between;
    align-items: flex-start;
  }
}

nav a,
nav a:visited {
  text-decoration: none;
  color: var(--color-highlight);
}

nav a.active {
  color: var(--color-text-dark);
  cursor: default;
}
